.section-hero {
  margin-top: 2.5rem;
}
/* hero container */
.hero-wrapper {
  grid-template-columns: 1fr;
  text-align: center;
}
/* image container */
.hero-img-box {
  grid-row: 1;
  justify-self: center;
  margin-bottom: 5rem;
}

/* heading h1 */
.hero-heading {
  font-size: var(--size-5xl);
  margin-bottom: 2rem;
  /* margin-bottom: 2rem; */
}
/* hero paragraph */
.hero-description {
  font-size: var(--size-lg);
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}
/* hero button */
.btn-hero {
  padding: 1.2rem 3rem !important;

  /* padding: 2rem 4rem !important; */
  font-size: var(--size-base) !important;
  border-radius: 3px;
}

/* xs */
@media (min-width: 475px) {
  .hero-heading {
    width: 83%;
    margin: 0 auto 1rem;
  }
  .hero-description {
    /* width: 70%; */
    width: 66%;
    margin: 0 auto 3rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .hero-heading {
    width: 63%;
    margin: 0 auto 1rem;
  }
  .hero-description {
    font-size: var(--size-xl);
    width: 58%;
    margin: 0 auto 3rem;
  }
  .btn-hero {
    font-size: var(--size-2xl) !important;
  }
}
/* md */
@media (min-width: 768px) {
  /* hero container */
  .hero-wrapper {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 60fr 40fr;
    column-gap: 2rem;
    align-items: center;
    text-align: left;
    width: 100%;
  }

  /* image container */
  .hero-img-box {
    /* grid-row: 1; */
    grid-column: 2;
    justify-self: center;
    margin-bottom: 5rem;
  }

  /* text */
  .hero-heading,
  .hero-description {
    text-align: left;
    width: 100%;
    padding-left: 0;
  }

  .hero-heading {
    font-size: var(--size-6xl);
    line-height: 1;
    margin-bottom: 2rem;
  }

  .hero-description {
    /* font-size: var(--size-2xl); */
    font-size: var(--size-xl);
  }
}
/* lg */
@media (min-width: 1024px) {
  .hero-heading {
    font-size: var(--size-7xl);
  }
  .hero-description {
    font-size: var(--size-2xl);
    margin-bottom: 4rem;
  }
}
/* xl */
@media (min-width: 1280px) {
  .hero-heading {
    padding-right: 6.4rem;
    margin-bottom: 3rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  html {
    font-size: 113%;
  }
  .hero-heading {
    padding-right: 0;
  }
}
